---
import Layout from '../layouts/Layout.astro';
import {Catalogo as CatalogoComponent} from '../components/catalogo/Catalogo';
import "../styles/global.css";

---
<Layout title="Catálogo - Somos Expertos en vehículos" description="Catálogo de vehículos" image="/src/assets/massant-img.webp">
  <main>
      <CatalogoComponent client:load />
  </main>
</Layout>